<!-- Wrapper -->
<section id="wrapper">

	<!-- Sign In and Send off -->
		<section id="one" class="wrapper spotlight style1">
			<div class="inner">
					
			<% if (!user) { %>

				<a href="#" class="image"><img src="/img/basketball.png" alt="" /></a>
				<div class="content">
					<h2 class="major">Get Started</h2>
					<p>To start tweeting using the Chrome address bar, simply sign into Twitter by clicking the Sign In button below. ShoutBox will make tweeting from your computer faster and easier.</p>
					<a href="/auth/twitter" class="special">Sign in</a>
				</div>
				
			<% } else { %>

				<a href="#" class="image"><img src="/img/basketball.png" alt="" /></a>
				<div class="content">
					<h2 class="major">Continue</h2>
					<p>Hello @<%= user.username %>, thank you for signing in.<br/>
					To begin tweeting, type "@" in Chrome's address bar and tap your spacebar.<br/>
					You can now close this page. Happy Tweeting! </p>
					<a href="/logout" class="special">Log out</a>
				</div>

			<% } %>

			</div>
		</section>

	<!-- Two -->
		<section id="two" class="wrapper alt spotlight style2">
			<div class="inner">
				<a href="#" class="image"><img src="img/oscars.png" alt="" /></a>
				<div class="content">
					<h2 class="major">About the Developers</h2>
					<p>ShoutBox was created by two Developers from Edmonton, Alberta who sought out a way to make tweeting from the desktop a more enjoyable experience. </p>
					<a class="special first_button" target="_blank" href="http://www.ualberta.ca/~hsingh3/">Harpreet Singh</a>
					<a class="special" target="_blank" href="http://www.arjunkalburgi.com/">Arjun Kalburgi</a>
				</div>
			</div>
		</section>

	<!-- Three -->
		<section id="three" class="wrapper spotlight style3">
			<div class="inner">
				<a href="#" class="image"><img src="img/hodor.png" alt="" /></a>
				<div class="content">
					<h2 class="major">Donate</h2>
					<p>Developing ShoutBox over the course of the past year took a lot of work and time for two University students. If you would like to show your support of work like this, you can donate here. </p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="556S3GMN98Y76">
						<a class="special"><input type="submit" name="submit" alt="PayPal" value="Donate"></a>
					</form>
				</div>
			</div>
		</section>

</section>

<!-- Footer -->
<section id="footer">
	<div class="inner">
		<h2 class="major">Get in touch</h2>
		<p>If you have questions about ShoutBox or would like to contact the developers of ShoutBox directly, please feel free to fill out the form below. </p>
		<form enctype="multipart/form-data" method="post" action="http://www.response-o-matic.com/mail.php" target="_blank" accept-charset="UTF-8">
			<div>
				<input type="hidden" name="acctid" id="acctid" value="vo8kzmk6e5n6vm2s" />
				<input type="hidden" name="formid" id="formid" value="1286254" />
				<input type="hidden" name="required_vars" id="required_vars" value="name,email,field-2eea6074c41d921" />
			</div>
			<div class="field">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" size="40" value="" />
			</div>
			<div class="field">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" size="40" value="" />
			</div>
			<div class="field">
				<label for="message">Message</label>
				<textarea name="field-2eea6074c41d921" id="field-2eea6074c41d921" rows="4"></textarea>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Send Message" /></li>
			</ul>
		</form>
		<ul class="contact">
			<!-- <li class="fa-home">
				Untitled Inc<br />
				1234 Somewhere Road Suite #2894<br />
				Nashville, TN 00000-0000
			</li> -->
			<!-- <li class="fa-phone">(000) 000-0000</li> -->
			<li class="fa-envelope"><a href="mailto:shoutbox.extension@gmail.com">E-Mail</a></li>
			<li class="fa-twitter"><a href="https://twitter.com/ShoutBoxAtUs">Twitter</a></li>
			<!-- <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li> -->
			<!-- <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
		</ul>
		<ul class="copyright">
			<li>ShoutBox. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</section>
