<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ShoutBox Options</title>
		<link rel="icon" 
	      type="image/png" 
	      href="img/ShoutBox128.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>

	<body style="overflow-x:hidden;">

		<!-- Page Wrapper -->
		<div id="page-wrapper" style="color: #e2dacf">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">ShoutBox</a></h1>
					<!-- <nav>
						<a href="#menu">Menu</a>
					</nav> -->
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<div class="logo">
							<span class="icon">
								<img src="/img/ShoutBox128W.png">
							</span>
						</div>
						<h2>
							houtBox
						</h2>
						<p>Tweet using the Chrome address bar</p>
					</div>
				</section>

			<!-- Main -->
				<div>
					<%- body %>
				</div>

		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>document.body.style.overflowX = "hidden";</script>
	</body>
</html>
